<div class="container">
    <div class="col-md-12 margin-top-5per article-block">
        <% if @article.image_id.present? %>
            <%= attachment_image_tag @article, :image %>
        <% end %>
        <h1 class="text-center"><%= @article.title %></h1>
        <div class="padding-bottom-15px", style="paddin: 10px">
            <%= simple_format @article.body %>
            <p class="text-right">
                <%= @article.created_at.strftime("%Y年%m月%d日") %>
            </p>
        </div>
        <div>
            <%= link_to '編集', edit_article_path(@article), class: 'btn btn-primary', style: 'margin-bottom: 10px' %>
            <%= link_to '削除', article_path(@article), method: :delete, data: {confirm: '削除するけどいいですか？'}, class: 'btn btn-danger', style: 'margin-bottom: 10px' %>
        </div>
    </div>
</div>