<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if user_signed_in? %>
        <a class="navbar-brand" href="/"><%= current_user.profile.name %>'s Blog</a>
      <% else %>
        <a class="navbar-brand" href="/">Blogs not signed in </a>
      <% end %>
      
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <p class="navbar-text navbar-right">
        <% if user_signed_in? %>
          <%= link_to '新規作成', new_article_path %>
          &nbsp;
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'ユーザー登録', new_user_registration_path  %>
          &nbsp;
          <%= link_to 'ログイン', new_user_session_path  %>
        <% end %>
      </p>
    </div>
  </div>
</nav>