<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render 'layouts/header' %>
    
    <!--新規登録やログイン時にメッセージ表示-->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  
    <%= yield %>
  </body>
</html>
